<%- include('../partials/header.ejs') %>
<body>
    <main>
        <%- include('../partials/navbar.ejs') %>
        <%- body %>
        <%- include('../partials/footer.ejs') %>
    </main>
</body>

</html>